/* CSS declarations go here */

body {
  font-family: 'Roboto', sans-serif;

  margin: 0;
  background-color: rgb(238, 238, 238);
}

#background {
  background-color: #287DA6;
    background-image: url('http://images.nationalgeographic.com/wpf/media-live/photos/000/239/custom/23939_1600x1200-wallpaper-cb1282059611.jpg');
    background-position: center top;
    min-height: 465px;
    width: 100%;
    position: relative;
    color: #F5FFFA;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
}


 .title {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  color: #F5FFFA;
  padding-top: 70px;
  text-align: center;
  font-size: 38px;
}

.date-pick-title{
  font-family: 'Source Sans Pro';
  font-weight: 300;
  margin-top: 20px;
  text-align: center;
  font-size: 38px;
}

.date-pick-input{
  top-margin: 20px;
  text-align: center;
  margin: auto;
  width: 50%;
}

.modal{
  visibility:visible;
}

.date-form{
  visibility: hidden;
}

template {
  text-align: center;
  margin: auto;
}

.search-zip{
  text-align: center;
  padding-top: 60px;
  margin: auto;
  width: 50%;
}


[class*="block-grid-"].text-center {
  font-size: 0;
}
[class*="block-grid-"].text-center > li {

  margin: 0.25rem;
  float: none;
  display: inline-block;
  background: white;
  height: 15rem;
  vertical-align: top;
  cursor: pointer;

}
[class*="block-grid-"].text-center > li:hover {
  background-color: rgb(249, 249, 249)
}
.content {
  text-align: left;
  padding: 25px 7px 7px 7px;
}
.content #title, .details {
  font-family: 'Roboto', sans-serif;
  color: #333333;
  word-break: break-word;
  width: 100%;
  line-height: 20px;
}
p {
  margin:0;
  padding: 0;
}
.details {
  font-size: 16px;
  color: rgb(113, 113, 120);
  padding-top: 10px;
}
.data-details {
  font-weight: 300;
  font-size: 14px;
  color: #999999;
  padding-top: 5px;
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .3);
  transition: opacity .25s ease;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -50%;
  right: 0;
  bottom: 20px;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 10px;
  padding: 1em 2em;
  height: 80%;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}

.modal__inner p {
  padding-left: 3rem;
  padding-right: 3rem;
  font-weight: 200;
  font-size: 14px;
  text-align: justify;
}
 .modal__inner .title-box {
  padding-top: 3rem;
  text-align: center;
  font-size: 1.4rem;
  color: #6495ED;
}
.modal__inner #description-title {
   text-align: center;
}
.modal__inner .details-box {
  font-size: 1.15rem;
}
.modal__inner .link {
  font-size: 1.15rem;
}

.nav {
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.active {
  float: left;
}

.active a {
  display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active a:hover {
  background-color: #111;
}

.profile-card {
  padding: 1rem;
  margin: 2rem 0;
  align-items: center;
  justify-content: center;
  }
  .profile-card img {
    width: 8rem;
    display: block;
    margin: 2rem auto;
    text-align: center;
    box-shadow: 2px 2px 5px #888888;
  }

  .profile-card .profile-info {
    padding: 1rem;
  }
    .profile-card .profile-info h4 {
      margin-top: 0;
      text-align: center;
      text-transform: uppercase;
    }
    .profile-card .profile-info p {
      text-align: center;
    }


.features-par {
  font-family: 'Source Sans Pro';
  margin: auto;
  font-size: 22px;
  font-weight: 150px;
  text-align: center;
}
