/* CSS declarations go here */

body {
  font-family: 'Roboto', sans-serif; 

  margin: 0;
  background-color: rgb(238, 238, 238);
}

#background {
  background-color: #287DA6;
    background-image: url('http://images.nationalgeographic.com/wpf/media-live/photos/000/239/custom/23939_1600x1200-wallpaper-cb1282059611.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: relative;
    color: #ffffff;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
}


 .title {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  color: #F5FFFA;
  padding-top: 60px;
  text-align: center;
  font-size: 38px;
}

template {
  text-align: center;
  margin: auto;
}

.search-zip{
  text-align: center;
  padding-top: 60px;
  margin: auto;
  width: 50%;
}


[class*="block-grid-"].text-center {
  font-size: 0;
}
[class*="block-grid-"].text-center > li {

  margin: 0.25rem;
  float: none;
  display: inline-block;
  background: white;
  height: 15rem;
  vertical-align: top; 
  cursor: pointer;

}
[class*="block-grid-"].text-center > li:hover {
  background-color: rgb(249, 249, 249)
}
.content {
  text-align: left;
  padding: 25px 7px 7px 7px;
}
.content #title, .details {
  font-family: 'Roboto', sans-serif;
  color: #333333;
  word-break: break-word;
  width: 100%;
  line-height: 20px;
}
p {
  margin:0;
  padding: 0;
}
.details {
  font-size: 16px;
  color: rgb(113, 113, 120);
  padding-top: 10px;
}
.data-details {
  font-weight: 300;
  font-size: 14px;
  color: #999999;
  padding-top: 5px;
}