
/* CSS declarations go here */
html {
  font-family: 'Source Sans Pro';
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  background-color: rgb(238, 238, 238);
}

#background {
  background-color: #287DA6;
    background-image: url('http://images.nationalgeographic.com/wpf/media-live/photos/000/239/custom/23939_1600x1200-wallpaper-cb1282059611.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: relative;
    color: #ffffff;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
}
 h1 {
    color: #F0FFFF;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
h1,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
 h1 {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  color: #F5FFFA;
  padding-top: 60px;
  text-align: center;
  font-size: 35px
}

template {
  text-align: center;
  margin: auto;
}

.search-zip{
  text-align: center;
  padding-top: 60px;
  margin: auto;
  width: 50%;
}



.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    background-color: white;
    overflow:hidden;
}

.content {
    position:absolute;
    height:90%; /* = 100% - 2*5% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 5%;
    
}
.table{
    display:table;
    width:100%;
    height:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
}
/*  For list */
ul{
    text-align:left;
    margin:5% 0 0;
    padding:0;
    list-style-position:inside;
}
li{
    margin: 0 0 0 5%;
    padding:0;
}


