
/* CSS declarations go here */
html {
  font-family: 'Source Sans Pro';
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  background-color: #F5FFFA;

/*  background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Mount_Rainier_cloud_cover.jpg/1280px-Mount_Rainier_cloud_cover.jpg") no-repeat;*/
}
#background {
  background-color: #287DA6;
    background-image: url('http://images.nationalgeographic.com/wpf/media-live/photos/000/239/custom/23939_1600x1200-wallpaper-cb1282059611.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: relative;
    color: #ffffff;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
}
 h1 {
    color: #F0FFFF;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
h1,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
 h1 {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  color: #F5FFFA;
  padding-top: 60px;
  text-align: center;
  font-size: 35px
}

template {
  text-align: center;
  margin: auto;
}

.search-zip{
  text-align: center;
  padding-top: 60px;
  margin: auto;
  width: 50%;
}

ul{
  list-style-type: none;
  text-align: center;
}

li{
  display: inline-block;
  width: 40%;
  margin: 1em;
  border-style: solid;
  border-width: 2px;
  background-color: white;
  font: black;
  float: left;
}

.categories {
  color: #F5FFFA;
  text-align: center;
  padding-top: 60px;
  margin: auto;
  width: 30%;
}
