<template name="lists">
  <ul class="large-block-grid-5 medium-block-grid-3 small-block-grid-1 text-center">
    {{#each event in events}}
      <li>
      <div id={{event._id}} class = "content">
        <label for = "modal-1">
          <p id = "title"> {{event.name}}</p>
        </label>
        <p class = "details">Date and time:</p>
        <p class = "data-details">{{event.date}}, {{event.time}}</p>
        <p class = "details"> Address: </p>
        <p class = 'data-details'>{{#if event.address}}{{event.address}}{{else}}Please check link{{/if}}</p>
        <p class ="link"><a href={{event.url}}> Open on {{event.company_name}}</a></p>
        </div>
      </li>
    {{/each}}
  </ul>
</template>
